body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

.mb-bgc-blu {
    background-color: #2c3e50;

}

.mb-bgc-lightblue {
    background-color: #3a546d;
}

.mb-bgc-green {
    background-color: #1abc9c;
}

.mb-size-img-avatar {
    width: 200px;
    height: auto;
}

input[type="text-area"] {
    height: 200px;
}

.line:before {
    content: "";
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 8px;
    border-radius: 25px;
}

.line:after {
    content: "";
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 8px;
    border-radius: 25px;
}

.lineb:before {
    content: "";
    display: inline-block;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 8px;
    border-radius: 25px;
}

.lineb:after {
    content: "";
    display: inline-block;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 8px;
    border-radius: 25px;
}

.w20 {
    width: 20%;
}

.w100 {
    width: 100%;
}

.iconsfooter {
    width: 100%;
}

.circle {
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 20px;
}

.color {
    color: #1cb799;
}